<h2>出勤中社員一覧</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class="table table-bordered table-hover" id="table-at-work">
      <thead>
        <tr>
          <th>社員番号</th>
          <th>名前</th>
        </tr>
      </thead>
      
      <tdody>
      <% @users.each do |user| %>
        <% user.attendances.each do |attendance| %>
          <% if (Date.current == attendance.worked_on) && attendance.started_at.present? && attendance.finished_at.nil? %>
            <tr>
              <td><%= user.uid %></td>
              <td><%= user.name %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
      </tdody>
    </table>
  </div>
</div>