@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


.text1 {
  color: white;
  padding-top: 50px;
}

/* ログインフォーム */

.label-login {
  margin-top: 10px;
}

.btn-login {
  margin-top: 15px;
}

.checkbox-login {
  width: auto;
  margin-left: 25px;
  span {
    font-weight: normal;
  }
}

/* テーブル */

.label-signup {
  margin-top: 10px;
}

.btn-signup {
  margin-top: 15px;
}

.label-user--edit {
  margin-top: 10px;
}

.btn-user--edit {
  margin-top: 15px;
}

#user-table {
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* 勤怠表 */
#table-attendances {
  margin-top: 20px;
  th {
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
  }

  td {
    vertical-align: middle;
    text-align: center;
  }
}

.btn-notice {
  color: black;
  .hover {
    text-decoration: none;
  }
}

.application-notice {
  color: red;
}

.btn-user-attendance {
  margin-top: 15px;
}

.btn-users-month {
  margin: 20px;
}

#table-users {
  margin-top: 10px;
  td {
    border: none;
  }
}

.csv-button {
  margin-top: 5px;
}


/* 1ヶ月分の勤怠承認申請 */
#table-monthly-attendance {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  th {
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
    width: auto;
  }
  td {
    vertical-align: middle;
    text-align: center;
    width: auto;
  }
}

#btn-monthly-attendance-application {
  margin-top: 10px;
}

.btn-monthly-attendance-approval {
  margin-top: 15px;
}


/* 勤怠変更申請・承認 */
#table-attendances-change {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  h2 {
    margin-top: 30px;
  }
  th {
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}


/* 残業申請・承認 */
#table-overtime-application {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  th {
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

#table-overtime-approval {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  h2 {
    margin-top: 30px;
  }
  th {
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}


/* 出勤中社員一覧 */
#table-at-work {
  th {
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* 拠点情報 */
#table-base-point {
  margin-top: 15px;
  th {
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

.label-base_points_new {
  margin-top: 10px;
}

.btn-base_points_new {
  margin-top: 15px;
}

.label-base_points_edit {
  margin-top: 10px;
}

.btn-base_points_edit {
  margin-top: 15px;
}


/* モーダルウィンドウの位置調整 */
.modal-dialog-center {
  padding-top: 10px;
}

.label-overtime-application {
  padding: 15px;
}

.btn-overtime_application {
  margin: 15px;
}


/* error_messages */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* debug */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}