<% provide(:title, "残業承認") %>
<% provide(:class_text, "overtime-approval") %>
<% provide(:btn_text, "overtime_approval") %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title">残業申請承認</h2>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="md-col-10 md-col-offset-1">
          <table class="table table-bordered table-condensed table-hover">
            <tr>
              <td>ここに表示</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>